fastapi
uvicorn
python-dotenv
google-generativeai
langchain
langchain-community
langchain-google-genai
faiss-cpu
pypdf
pymupdf
unstructured[pdf,xlsx]
langchain-unstructured
rank-bm25
pandas # <-- Excel操作のために追加
openpyxl # <-- pandasがExcelを読むために必要
